#id_new_item {
	margin-top: 2ex;
}
.gwd-img-1mcj {
      position: absolute;
      width: 580px;
      height: 200px;
      left: 0.89%;
      top: 76.3%;
    }
    .gwd-img-um2g {
      position: absolute;
      width: 276px;
      height: 183px;
      left: 45%;
      top: 77%;
    }
    .gwd-img-1765 {
      position: absolute;
      width: 379px;
      height: 133px;
      left: 72%;
      top: 78%;
    }